<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="mx.edu.itsta.rogeliogr.gestioncerdos">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".MainActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".AgregaCerdoActivity"
                android:label="@string/agregar_nuevo_cerdo">
        </activity>
        <activity
                android:name=".DetalleCerdoActivity"
                android:label="@string/title_activity_detalle_cerdo"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".AgregaPesoActivity"
                android:label="@string/action_add_peso">
        </activity>
        <activity
                android:name=".ListaPesosActivity"
                android:label="@string/pesos_cerdo">
        </activity>
        <activity
                android:name=".AgregaVacunaActivity"
                android:label="agregar_vacuna">
        </activity>
        <activity android:name=".ListaVacunasActivity">
        </activity>
        <activity android:name=".AgregaReproduccionActivity">
        </activity>
        <activity android:name=".AgregaSalidaActivity">
        </activity>
    </application>

</manifest>